.form-body-back {
  position: fixed;
  inset: 0;
  background: linear-gradient(115deg,
    rgba(4, 13, 46, 1) 0%, 
    rgba(8, 44, 75, 1) 50%, 
    rgba(4, 40, 90, 1) 62%, 
    rgba(4, 66, 130, 1) 75%, 
    rgba(4, 108, 188, 1) 88%, 
    rgba(12, 181, 235, 1) 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top:20%;
  left:10%;
  gap: 45px;
}

.email, .password, .submit {
  width: 250px;
  height: 35px;
  border: 2px solid rgb(12, 181, 235);
  border-radius: 12px;
}

.submit {
  margin-top: 20px;
}

.submit:hover {
  background-color: rgb(4, 13, 46);
  color: white;
}

.login-form-container {
  position: absolute;
  width: 80%;
  max-width: 1000px;
  aspect-ratio: 2 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(4, 108, 188);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-sign-text {
  color: rgb(4, 13, 46);
  z-index: 2;
}

.form-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 50%;
  transform: translate(0,-50%);
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  transition: .3s;
}

.email:focus ~.placeholder, .password:focus~.placeholder{
  color: rgb(222,221,220);
  top: -10px;
  left: 10;
  font-size: 10px;
}

.email:not(:placeholder-shown) + .placeholder, .password:not(:placeholder-shown) + .placeholder {
  color: rgb(12, 181, 235);
  top: -10px;
  left: 10;
  font-size: 10px;
} 

.login-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабирует без искажения */
  z-index: -1;
}


.pass-hint {
  visibility: hidden;
  font-size: 10px;
  position: absolute;
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
}

.pass-hint.visible {
  visibility: visible;
  opacity: 1;
}

.pass-part-correct {

  display: none;
}

.pass-part-incorrect {
  color: rgb( 222, 221, 220);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

.show-hide-pass, .back-to-main {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.pass-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eye-container {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.back-to-main-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-to-main-container:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px){
  .login-background{
    display: none;
  }

  .login-form-container {
    position: absolute;
    width: 420px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(4, 108, 188);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top:50%;
    left:55%;
    gap: 45px;
    transform: translate(-50%, -50%);
  }

}

@media screen and (max-width: 440px){
  .login-background{
    display: none;
  }

  .login-form-container {
    position: absolute;
    width: 340px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(4, 108, 188);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top:50%;
    left:55%;
    gap: 45px;
    transform: translate(-50%, -50%);
  }
  .eye-container {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }

}