:root {
  --blue-50: #f1f1ff;
  --blue-100: #dadaff;
  --blue-200: #b8b7ff;
  --blue-300: #9897ff;
  --blue-400: #7978ff;
  --blue-500: #5858ff;
  --blue-600: #2f31ff;
  --blue-700: #0f15f1;
  --blue-800: #080cb4;
  --blue-900: #030372;
  --blue-950: #010250;
  --img-size: 30px;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}