.category-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: center;
  margin:0;
  gap: 5px;
}

.category-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-image {
  width: 30px;
  height: 30px;
}

.nav-container {
  height: calc(100vh - 2*var(--header-footer-height));
  position: sticky;
  top: var(--header-footer-height);
  align-self: start;
  overflow-y: auto;
  
}

@media screen and (min-width: 1280px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}