.category-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 200px;
  margin:0;
  gap: 5px;
}

.category-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-image {
  width: 30px;
  height: 30px;
}